
body {
  background-image: url('/public/img/bg.jpg');
  background-color: #000;
  padding-top: 3%;
}

table {
  width: 100%;
}

.container {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

td.id {
  font-size: 12px;
  color: #666;
}
